<h1>Topics#index</h1>
<p>Find me in app/views/topics/featured.html.erb</p>

<% if @stories.count > 0 %>
  <% @stories.each do |story| %>
  <% end %>
<% else %>
  <%= render 'stories/submit' %>
<% end %>
