<div class="large-12 column">
  <% @stories.each do |story| %>
    <% special_class = '' %>
    <% if current_user && story.user_id == current_user.id %>
      <% special_class = 'createdby' %>
    <% end %>
    <div class="row hover-parent">
      <h3 class="<%= special_class %> inline-block"><%= link_to story.name, story %></h3>
      <% if !story.description.empty? %>
        <p><%= story.description %></p>
      <% end %>
      <% if current_user && story.user_id == current_user.id %>
        <div class="right hidden-child">
          <%= link_to 'Edit', edit_story_path(story) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
