<div class="large-12 column">
  <% @stories.each do |story| %>
    <div class="row hover-parent">
      <h3><%= link_to story.name, story %></h3>
      <p><%= story.description %></p>
      <div class="column hidden-child">
        <div class="row">
          <%= link_to 'Show', story %> |
          <%= link_to 'Edit', edit_story_path(story) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
