// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hover-parent{
  .hidden-child{
    opacity: 0;
    margin-bottom: 10px
  }
  &:hover{
    .hidden-child{
      opacity: 1;
    }
  }
}

.inline-block{
  display: inline-block;
}

.createdby a{
  color: green;
}
